.App {
    /*background-image: url("background.png");*/
    /*background-size: cover;*/
    /*background-position: center center;*/
    /*background-repeat: no-repeat;*/
    /*background-attachment: fixed;*/
    height: 750px;
    opacity: 0.9;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

button {
    size: 30px;
    font-size: 20px;
    height: 35px;
    width: 245px;
    border-radius: 8px;
    margin-top: 20px;
}

input {
    size: 30px;
    font-size: 20px;
    height: 35px;
    width: 245px;
    border-radius: 8px;
}

label {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
}

.DSignUp {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 50Vh;
    background: cadetblue;
    width: 1216px;
    height: 600px;
    font-size: 30px;
}

table {
    display: table;
    border-collapse: collapse;
    width: 650px;
    margin: 0 auto;
    border-radius: 8px;
}

td, tr, th {
    border: 1px solid black;
    padding: 8px;
}

.column {
    width: 200px;
}

