* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* {*/
/*    background-image: url("background.png");*/
/*    background-size: cover;*/
/*    background-repeat: no-repeat;*/
/*    background-attachment: fixed;*/

/*}*/

.DSignup {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 50Vh;
    background: cadetblue;
    width: 350px;
    height: 180px;
}