.App {
     /*background-image: url("background.png");*/
     /*background-size: cover;*/
     /*background-position: center center;*/
     /*background-repeat: no-repeat;*/
     /*background-attachment: fixed;*/
     height: 750px;
    opacity: 0.9;
 }

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.DSignUp {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 50Vh;
    background: cadetblue;
    width: 1216px;
    height: 600px;
}

table {
    display: table;
    border-collapse: collapse;
    width: 480px;
    margin: 0 auto;
}

td, tr {
    border: 1px solid black;
    padding: 8px;
}

.column {
    width: 40%;
}

